@import 'src/scss/color';
@import 'src/scss/fonts';
// @import 'src/scss/components/componentsDesk/header';
@import 'src/scss/components/componentsCross/button';
@import 'src/scss/components/componentsDesk/section';
@import 'src/scss/components/componentsDesk/footer';
@import 'src/scss/components/componentsCross/card';
@import 'src/scss/components/componentsDesk/visual';
@import 'src/scss/components/componentsCross/subscription.scss';
@import 'src/scss/components/componentsCross/login';
// @import 'src/scss/components/componentsDesk/navbar';
// @import 'src/scss/components/componentsDesk/searchbar';
// @import 'src/scss/components/componentsDesk/overlaymessages';
// @import 'src/scss/components/componentsDesk/overlaycart';
// @import 'src/scss/components/componentsDesk/overlayaccount';
// @import 'src/scss/components/componentsMob/navbarmobile';
@import 'src/scss/components/componentsCross/filtersoverlay';
@import 'src/scss/components/componentsCross/shoppage';
@import 'src/scss/components/componentsCross/sortby';
@import 'src/scss/components/componentsCross/arrowup';
@import 'src/scss/components/componentsCross/productpage';
@import 'src/scss/components/componentsDesk/caroselloprodotto';
// @import 'src/scss/components/componentsCross/productdescription';
@import 'src/scss/components/componentsDesk/accordionmenuprodotto';
@import 'src/scss/components/componentsPlus/notifications';
@import 'src/scss/components/componentsPlus/sizechart';
@import 'src/scss/components/componentsMob/carosellomobile';
@import 'src/scss/components/componentsPlus/carditem';
@import 'src/scss/components/componentsCross/headercheckout';
@import 'src/scss/components/componentsCross/progress-indicator';
@import 'src/scss/components/componentsCross/formcheckoutstep1';
@import 'src/scss/components/componentsCross/ordersummary';
@import 'src/scss/components/componentsCross/cardtotal';
@import 'src/scss/components/componentsCross/paymentcheckout';
@import 'src/scss/components/componentsCross/paypal';
@import 'src/scss/components/componentsCross/creditcard';
@import 'src/scss/components/componentsCross/invoicerequest';
@import 'src/scss/components/componentsMob/thankyoupage';
@import 'src/scss/components/componentsDesk/cart';
@import 'src/scss/components/componentsDesk/cartitems';
@import 'src/scss/components/componentsCross/counter';
@import 'src/scss/components/paginaProdotto/paginaprodotto';
@import 'src/scss/components/paginaProdotto/carosello';
@import 'src/scss/components/paginaProdotto/descrizioneprodotto';
@import 'src/scss/components/paginaProdotto/testprodotto';
@import 'src/scss/components/paginaProdotto/minicart';
@import 'src/scss/components/headerMaster/headermaster';
@import 'src/scss/components/headerMaster/headermasterleft';
@import 'src/scss/components/headerMaster/headermasterleft2';
@import 'src/scss/components/headerMaster/headermasterright';
@import 'src/scss/components/headerMaster/headmastercart';
@import 'src/scss/components/myLogin/mylogin';
@import 'src/scss/components/myLogin/myaccountbutton';
@import 'src/scss/components/myLogin/generalinfo';
@import 'src/scss/components/myLogin/orders';
@import 'src/scss/components/myLogin/returns';
@import 'src/scss/components/myLogin/editinfo';
@import 'src/scss/components/myLogin/billingaddress';
@import 'src/scss/components/myLogin/shippingaddress';
@import 'src/scss/components/myLogin/paymentmethod';
@import 'src/scss/components/myLogin/newsletter';
@import 'src/scss/components/myLogin/orderinfo';

@import 'src/scss/components/createAccount/createAccount';


/* Global */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
// Stili globali per l'header, applicati sempre
header {
    width: 100%;
    position: relative;
}