.product-gallery {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: block; /* Rendi visibile di default */

    @media (min-width: 769px) {
        display: none; /* Nascondi il carosello per dimensioni superiori a 768px */
    }

    .product-gallery__main-image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.5); // Border nero con opacità 0.5
        }
    }

    .product-gallery__nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        pointer-events: none;

        button {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            pointer-events: all;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }

    .product-gallery__dots {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: absolute;
        bottom: 20px; /* Sposta i pallini 10px più in alto rispetto al precedente valore */
        width: 100%; /* Assicura che il contenitore dei pallini occupi l'intera larghezza */

        .slick-dots {
            display: flex !important;
            justify-content: center; /* Centra i pallini orizzontalmente */
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin: 0 5px;

                button {
                    background: $main-brown;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    opacity: 0.5;
                    border: none;
                    padding: 0;
                    cursor: pointer;

                    &::before {
                        opacity: 0; /* Nasconde i pallini predefiniti */
                        display: none; /* Nasconde i pallini predefiniti */
                    }
                }

                &.slick-active button {
                    opacity: 1;

                    &::before {
                        opacity: 0; /* Nasconde i pallini predefiniti */
                        display: none; /* Nasconde i pallini predefiniti */
                    }
                }
            }
        }
    }
}

.product-gallery-desktop {
    display: none; // Nascondi per default

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        &__wrapper {
            display: flex;
            width: 100%;
            max-height: 750px; // Altezza massima
            gap: 30px;
        }

        &__thumbnails {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            max-height: 500px; // Altezza massima per il range 768-1199px
            overflow: hidden;

            &-inner {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            img {
                width: 88px;
                height: 132px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.5);
                transition: transform 0.3s ease;
                object-fit: cover; // Aggiunto per evitare deformazioni
            }

            .product-gallery-desktop__scroll-down {
                background: rgba(131, 111, 82, 0.1); // Colore di sfondo
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                cursor: pointer;
        
                button {
                    background: none; // Rimuovi lo sfondo predefinito del pulsante
                    border: none; // Rimuovi il bordo predefinito del pulsante
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0; // Rimuovi il padding predefinito del pulsante
        
                    .product-gallery-desktop__scroll-down-arrow {
                        width: 24px; // Dimensioni dell'icona
                        height: 24px; // Dimensioni dell'icona
                        border: none;
                    }
                }
            }
        }

        &__main-image {
            min-width: 240px;
            width: 100%; // Considera la larghezza delle miniature più gap
            max-height: 500px; // Altezza massima per il range 768-1199px
            position: relative; // Aggiunto per il posizionamento del quadrato

            img {
                width: 100%;
                height: auto;
                display: block;
                border: 1px solid rgba(0, 0, 0, 0.5);
                max-height: 100%;
            }

            .favorite-icon {
                position: absolute;
                bottom: 0; // 10px dal bordo inferiore dell'immagine
                right: 0; // 10px dal bordo destro dell'immagine
                width: 25px;
                height: 25px;
                background-color: white; // Puoi cambiare il colore di sfondo se necessario
                border: 1px solid rgba(0, 0, 0, 0.5); // Bordo intorno al quadrato
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: grey;
                }

            }
            .favorite-icon__heart {
                width: 20px; // Aggiungi la larghezza e l'altezza per visualizzare correttamente l'icona
                height: 20px;
                background-image: url("./src/images/icons/heartb.svg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    @media (min-width: 1199px) {
        &__thumbnails {
            max-height: 700px; // Altezza massima per il range superiore a 1199px
            img {
                height: 150px;
            }
        }

        &__main-image {
            width: 100%; // Considera la larghezza delle miniature più gap
            max-height: 700px; // Altezza massima per il range superiore a 1199px
        }
    }
}
