.container-main {
    max-width: 100vw;
    padding: 115px 20px 20px;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .container-main {
        padding: 55px 20px 20px;
    }
}

.column {
    max-width: 960px;
    padding: 0 15px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 370px;
}

.forgotpassword-title {
    font-size: 1.5rem;
    font-weight: $font-medium;
    font-family: $main-font;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.forgotpassword-paragrafo {
    margin-bottom: 22px;
    font-size: 16px;
    color: #262626;
    font-family: $main-font;
    font-weight: $font-small;
}

.form-forgotpassword {
    display: flex;
    flex-direction: column;
}

.label-email-forgotpassword {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: $main-font;
    font-weight: $font-medium;
    letter-spacing: 1px;
}

.required-indicator {
    color: $main-brown; /* main-brown */
}

input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #000;
    height: 2.875rem;
    font-size: 1rem;
    padding: 0 1.0625rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    margin-top: 4px;

}

.captcha-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.captcha-container input[type="text"] {
    border: 1px solid #000;
    height: 2.875rem;
    font-size: 1rem;
    padding: 0 1.0625rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
}

.captcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
    padding: 5px;
}

.refresh-captcha {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
}

.refresh-captcha__icon {
    background-image: url("./src/images/icons/arrows-rotate-solid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.go-back {
    text-align: center;
    padding: 50px 0;
    text-decoration: underline;
    color: black;
    font-size: 16px;
    display: block;
    letter-spacing: 0.8px;
    font-weight: $font-medium;
    &:hover{
        color: $main-brown;
    }
}
