/* Variabili padding */
$pad-l: 12px 16px;
$pad-sm: 8px 12px;
$pad-xsm: 4px 8px;
$pad-square-l: 16px;

/* Radius */
$radius: 16px;

/* Filter */
@mixin btn_filter($colorfont, $bordercolor, $backgroundcolor){
    padding: $pad-sm;
    border-radius: 4px;
    font-size: 12px;
    font-family: $main-font;
    font-weight: $font-medium;
    text-align: center;
    color: $colorfont;
    border-color: $bordercolor;
    background-color: $backgroundcolor;
    cursor: pointer;
    letter-spacing: 1px;
}
.btn_filter{
    @include btn_filter($main-black, $main-black, $main-white)
}
.btn_filter-active{
    @include btn_filter($main-black, $main-black, $main-white);
    &:hover {
        background-color: $main-black;
        color: $main-white;
        border-color: $main-black;
    }
}

/* Badge */
@mixin badge ($backgroundcolor, $colorfont){
    font-family: $main-font;
    font-weight: $font-small;
    font-size: 0.75em;
    padding: $pad-xsm;
    border-radius: 20px;
    text-align: center;
    color: $colorfont;
    background-color: $backgroundcolor;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}

.shipped {
    @include badge($main-black, $main-white)
}
.delivered {
    @include badge($main-green, $main-white)
}
.pending {
    @include badge($main-yellow, $main-black)
}
.refunded {
    @include badge($main-green, $main-white)
}

/* Chips */

@mixin chips ($backgroundcolor, $colorfont, $bordercolor){
    padding: $pad-l; 
    border: 1px solid black;
    font-family: $main-font;
    font-weight: $font-medium;
    font-size: $font-size;
    background-color: $backgroundcolor;
    color: $colorfont;
    border-color: $bordercolor;
    border-radius: 24px;
    cursor: pointer;
    display: inline-flex; // Utilizza inline-flex per mantenere il bottone della grandezza del contenuto
    align-items: center; // Allinea centralmente i contenuti sull'asse verticale
    justify-content: center; // Centra i contenuti sull'asse orizzontale
    position: relative; // Imposta il bottone come riferimento per il posizionamento assoluto dell'icona
    overflow: hidden; // Previene l'overflow dell'icona all'esterno del bottone
    white-space: nowrap;
}
.big_chips{
    @include chips ($main-white, $main-black, $main-black)
}
.big_chips-active{
    @include chips ($main-white, $main-black, $main-black);
    &:hover{
        background-color:$main-brown ;
        color: $main-white;
        border-color: $main-brown;
    }
}
.small_chips{
    @include chips ($main-white, $main-black, $main-black);
    padding: $pad-sm;
    border-radius: 16px;
}
.small_chips-active{
    @include chips ($main-white, $main-black, $main-black);
    padding: $pad-sm;
    border-radius: 16px;
    &:active, &.selected{
        background-color: $main-brown;
        color: $main-white;
        border-color: $main-brown;
    }
    &::after {
        content: ''; 
        display: block; 
        width: 12px;
        height: 12px;
        background-image: url('./src/images/icons/close-icon.svg');
        background-size: cover; 
        filter: invert(100%);
        margin-left: 8px; 
    }
}
.small_chips-unselected{
    @include chips ($main-trasparent, $main-grey, $main-grey);
    &{
        padding: $pad-sm;
        background-color: $main-trasparent;
        color: $main-grey;
        border-color: $main-grey;
    }
}


/* Buttons Default */

@mixin btn_default ($backgroundcolor, $colorfont, $bordercolor){
    padding: $pad-square-l;
    font-family: $main-font;
    font-size: $font-size;
    font-weight: $font-medium;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $main-white;
    background-color: $backgroundcolor;
    color: $colorfont;
    border-color: $bordercolor;
    cursor: pointer;
    letter-spacing: 1px;
    // width: 100%;
}
.btn_default-primary{
    @include btn_default($main-black, $main-white, $main-black);
}
.btn_default-primary-active{
    @include btn_default($main-black, $main-white, $main-black);
    width: 100%;
    &:hover{
        background-color:$main-brown ;
        color: $main-white;
        border-color: $main-brown;
    }
}
.btn_default-primary-disabled{
    @include btn_default($main-grey, $main-white, $main-grey);
    cursor: not-allowed;
    &:hover{
        background-color: $main-grey;
    }
}
.btn_default-primary2{
    @include btn_default($main-white, $main-black, $main-white);
}
.btn_default-secondary{
    @include btn_default($main-white, $main-black, $main-black);
}
.btn_default-secondary-active{
    @include btn_default($main-trasparent, $main-black, $main-black);
    &:hover{
        background-color: $main-trasparent;
        color: $main-brown;
        border-color: $main-brown;
    }
}
.btn_default-secondary-disabled{
    @include btn_default($main-white, $main-black, $main-black);
    &:hover{
        background-color: $main-trasparent;
        color: $main-grey;
        border-color: $main-grey;
    }
}
.btn_default-secondary2{
    @include btn_default($main-trasparent, $main-white, $main-white);
}
.btn_default-brown{
    @include btn_default($main-brown, $main-white, $main-brown);
    font-size: 0.75rem;
    line-height: 2.625rem;
    padding: 0rem 2.375rem;
    &:hover{
        background-color: $main-black;
        color: $main-white;
        border-color: $main-black;
    }
}

.global-back-button {
    display: inline-flex;
    align-items: center; 
    border: none;
    cursor: pointer; 
  
    &__icon {
      width: 12px; 
      height: 14px; 
      margin-right: 8px;
    }
  
    &__text {
      color: black; 
      font-size: 16px;
      font-family: $main-font;
      font-weight: $font-medium;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  
    &:visited, &:link, &:active {
      color: black; 
      text-decoration: none;
    }
  }