.credit-card {
    border: 1px solid rgba(234, 234, 234, 1);
    padding: 20px 16px;
    border-radius: 8px;

    &--selected {
        border: 1px solid black;
    }
    
    &__label {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    &__input {
        margin-right: 8px;
        width: 16px;
        height: 16px;
    }

    &__name {
        font-size: 16px;
        font-family: $main-font;
        font-weight: $font-medium;
        letter-spacing: 0.8px;
    }
    &__details {
        display: none;
        margin-top: 8px;
        padding: 8px;
        overflow: hidden;
    }

    &__input-field {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 16px;
        border: 1px solid black;
        margin-bottom: 8px;
        &::placeholder{
            text-align: left;
            color: rgba(119, 119, 119, 1);
            font-size: 16px;
            font-weight: $font-medium;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    &__expiry-cvc {
        display: flex;
        gap: 4px;
        margin-bottom: 8px;
    }

    &__field {
        flex: 1;
    }

    &__link{
        text-decoration: underline;
        cursor: pointer;
        color: black;
        &:visited, &:link{
            color: black;
        }
    }

    &__required {
        color: $main-brown;
    }

    &--expanded .credit-card__details {
        display: block;
    }

    &__button-continue{
        margin-top: 8px;
        width: 100%;
    }

    &__icons {
        display: flex;
        gap: 4px;
        margin-bottom: 16px;
    }

    &__icon {
        width: 35px;
        height: auto;
    }

    &__input-wrapper {
        width: 100%;
        margin-bottom: 8px;
    }

    &__remember,
    &__terms {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
}




