
.subscription-container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    font-family: $main-font;
    background-color: $neutral-white;
}
.subscription-container h2,
.subscription-container p {
    font-size: 24px;
    font-family: $main-font; 
    font-weight: $font-medium;
    letter-spacing: 2px;
}


.subscription-container h2 {
    margin-bottom: 20px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.subscription-form input[type="email"] {
    width: 70%;
    padding: 10px 10px 0 10px;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid $main-black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subscription-form input[type="email"]::placeholder {
    text-align: center; 
    opacity: 1;
    font-size: 18px;
    font-family: $main-font;
    font-weight: $font-medium; 
}

.terms-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
}

.terms-container input[type="checkbox"] {
    margin-right: 5px;
}

.terms-container label {
    margin: 0;
}

.terms-container a {
    color: $main-black;
    text-decoration: underline;
    &:hover{
        color: $main-brown;
    }
}

.btn_default-secondary{
    
    letter-spacing: 1px;
    &:Hover{
    background-color: $neutral-white;
    color: $main-black;
    }
}
.extra{
    padding: 16px 140px;
}


.social-media-list {
    list-style: none;
    padding: 0;
    margin: 18px 0 0;
    display: flex;
    justify-content: center; 
    gap: 16px;
}

.social-media-list__item {
    margin: 18px 0px 0px;
    display: inline-block;
}

.social-media-list__link {
    display: inline-block;
    width: 17.7px;
    height: 17.6px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.social-media-list__link--facebook {
    background-image: url('./src/images/icons/facebook.svg');
}

.social-media-list__link--instagram {
    background-image: url('./src/images/icons/instagram.svg');
}

.spacing-element {
    display: none;
}


@media (max-width: 480px) {
    .subscription-container {
        padding: 40px 0;
        margin-bottom: 37px;
    }
    .extra{
        padding: 16px 90px;
    }
    .subscription-container h2,
    .subscription-container p {
        font-size: 24px;
        margin-top: 0;
        letter-spacing: 2px;
    }

    .subscription-form input[type="email"] {
        width: 80%; // Aumenta la larghezza dell'input per facilitare l'ingresso
        padding: 8px; // Leggera riduzione del padding
    }

    .social-media-list {
        gap: 10px; // Riduci lo spazio tra le icone dei social
    }

    .social-media-list__link {
        width: 17.7px; // Riduci le dimensioni delle icone dei social
        height: 17.6px;
    }
    .spacing-element {
        display: block;
        margin: 10px 0;
        font-size: 14px;
        line-height: 1;
        font-weight: $font-small;
        font-family: $main-font;
    }
}
