.orders {
    padding: 16px;
    @media (min-width: 768px) {
        width: 100%;
    }

    &__title {
        font-size: 24px;
        font-weight: $font-medium;
        margin-bottom: 16px;

        @media (max-width: 768px) {
            display: none; /* Nascondi titolo per schermi inferiori a 768px */
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        @media (min-width: 768px) {
            display: none; /* Nascondi lista per schermi superiori a 768px */
        }
    }

    &__item {
        padding: 16px;
        border-bottom: 1px solid rgba(234, 234, 234, 1);
    }

    &__header,
    &__info,
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date-items {
        display: flex;
        flex-direction: column;
    }

    &__date,
    &__items {
        font-size: 14px;
        color: #666;
        margin-bottom: 4px;
    }

    &__price {
        font-size: 16px;
        font-weight: $font-big;
    }

    &__footer {
        margin-top: 8px;
    }

    &__icon-mobile {
        width: 20px;
        height: 20px;
        background-image: url("./src/images/icons/angle-right-solid.svg");
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(45%) sepia(9%) saturate(1604%) hue-rotate(354deg) brightness(95%) contrast(92%);
    }

    &__summary {
        display: none; /* Nascondi il layout per schermi inferiori a 768px */

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__summary-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(234, 234, 234, 1);
        padding: 16px 0;
    }

    &__summary-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-basis: 20%; /* Occupano il 20% dello spazio */

        .shipped, .delivered {
            width: auto; /* Impedisce al bottone di allungarsi per tutto il contenitore */
            align-self: flex-start; /* Allinea il bottone a sinistra */
        }
    }

    &__label {
        font-size: 12px;
        font-weight: $font-small;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $main-font;
        line-height: 12px;
    }

    &__value {
        font-size: 16px;
        font-weight: $font-medium;
        font-family: $main-font;
        letter-spacing: 0.8px;
        line-height: 20px;
    }

    &__actions {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__action {
        text-decoration: none;
        font-weight: $font-medium;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.8px;

        &--return {
            color: $main-brown;
        }

        &--details {
            color: black;
        }
    }

    &__icon {
        width: 10px;
        height: 10px;
        background-image: url("./src/images/icons/right-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
