// .orders-info__container {
//     display: flex;
//     flex-direction: column;
//     padding: 16px;
// }

// .orders-info__back-button {
//     display: flex;
//     align-items: center;
//     margin-bottom: 20px;
// }

// .orders-info__global-back-button {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
// }

// .orders-info__global-back-button__icon {
//     width: 12px;
//     height: 12px;
//     margin-right: 8px;
// }

// .orders-info__global-back-button__text {
//     font-family: $main-font;
//     font-size: 16px;
//     color: black;
// }

// .orders-info__title {
//     text-align: left;
//     font-size: 24px;
//     font-family: $main-font;
//     font-weight: $font-medium;
//     letter-spacing: 2px;
//     line-height: 32px;
//     margin-top: 0;
//     margin-bottom: 20px;
// }

// .orders-info__details {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 20px;

//     @media (min-width: 768px) {
//         display: none;
//     }
// }

// .orders-info__status {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
// }

// .orders-info__date-items {
//     display: flex;
//     flex-direction: column;
//     gap: 2px;
// }

// .orders-info__price {
//     align-self: flex-end;
//     font-size: 16px;
//     font-weight: bold;
// }

// .orders-info__items, 
// .orders-info__shipping-address {
//     display: flex;
//     flex-direction: column;
//     gap: 4px;
//     margin-bottom: 20px;
//     border-bottom: 1px solid rgba(234, 234, 234, 1);
//     padding-bottom: 10px;
// }

// .orders-info__shipping-details, 
// .orders-info__custom-taxes {
//     display: flex;
//     flex-direction: column;
//     gap: 12px;
//     margin-bottom: 20px;
//     border-bottom: 1px solid rgba(234, 234, 234, 1);
//     padding-bottom: 10px;
// }

// .orders-info__shipping-address span, 
// .orders-info__custom-taxes span {
//     font-size: 16px;
//     font-family: $main-font;
// }

// .orders-info__custom-taxes {
//     border-bottom: none;
// }

// .orders-info__item {
//     display: flex;
//     gap: 10px;
//     align-items: center;
// }

// .orders-info__item-image {
//     width: 74px;
//     height: 100px;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-image: url('./src/images/product1/image1.jpg');
// }

// .orders-info__item-details {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     &-title {
//         font-weight: $font-medium;
//         font-family: $main-font;
//         line-height: 20px;
//         letter-spacing: 0.8px;
//         font-size: 16px;
//         text-transform: uppercase;
//     }
//     &-subtitle {
//         font-weight: $font-small;
//         font-family: $main-font;
//         line-height: 14px;
//         letter-spacing: 0.5px;
//         font-size: 10px;
//     }
//     &-color {
//         font-weight: $font-small;
//         font-family: $main-font;
//         line-height: 12px;
//         letter-spacing: 1px;
//         font-size: 12px;
//         text-transform: uppercase;
//     }
//     &-size {
//         font-weight: $font-small;
//         font-family: $main-font;
//         line-height: 12px;
//         letter-spacing: 1px;
//         font-size: 12px;
//         text-transform: uppercase;
//     }
//     &-price {
//         font-weight: $font-medium;
//         font-family: $main-font;
//         line-height: 20px;
//         letter-spacing: 0.8px;
//         font-size: 16px;
//     }
// }

// .orders-info__item-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .orders-info__item-header .delivered {
//     display: none; /* Nascondi di default */

//     @media (min-width: 768px) {
//         display: block; /* Mostra sopra i 768px */
//     }
// }

// .orders-info__actions {
//     display: flex;
//     flex-direction: column;
//     gap: 12px;
//     margin-top: 30px;
// }


.orders-info__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.orders-info__back-button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.orders-info__global-back-button {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.orders-info__global-back-button__icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.orders-info__global-back-button__text {
    font-family: $main-font;
    font-size: 16px;
    color: black;
}

.orders-info__title {
    text-align: left;
    font-size: 24px;
    font-family: $main-font;
    font-weight: $font-medium;
    letter-spacing: 2px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}

.orders-info__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        display: none;
    }
}

.orders-info__status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orders-info__date-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.orders-info__price {
    align-self: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.orders-info__items, 
.orders-info__shipping-address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    padding-bottom: 10px;
}

.orders-info__shipping-details, 
.orders-info__custom-taxes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    padding-bottom: 10px;
}

.orders-info__shipping-address span, 
.orders-info__custom-taxes span {
    font-size: 16px;
    font-family: $main-font;
}

.orders-info__custom-taxes {
    border-bottom: none;
}

.orders-info__item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.orders-info__item-image {
    width: 74px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./src/images/product1/image1.jpg');
}

.orders-info__item-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-title {
        font-weight: $font-medium;
        font-family: $main-font;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-size: 16px;
        text-transform: uppercase;
    }
    &-subtitle {
        font-weight: $font-small;
        font-family: $main-font;
        line-height: 14px;
        letter-spacing: 0.5px;
        font-size: 10px;
    }
    &-color {
        font-weight: $font-small;
        font-family: $main-font;
        line-height: 12px;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }
    &-size {
        font-weight: $font-small;
        font-family: $main-font;
        line-height: 12px;
        letter-spacing: 1px;
        font-size: 12px;
        text-transform: uppercase;
    }
    &-price {
        font-weight: $font-medium;
        font-family: $main-font;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-size: 16px;
    }
}

.orders-info__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders-info__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
}

.orders-info__return-request {
    display: none;
    flex-direction: column;
    padding: 16px;

    @media (min-width: 768px) {
        display: flex;
    }
}

.orders-info__return-label {
    font-size: 14px;
    margin-bottom: 4px;
}

.orders-info__return-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.orders-info__return-form {
    display: flex;
    flex-direction: column;
}

.required{
    color: $main-brown;
}
.orders-info__return-select:last-of-type {
    margin-bottom: 120px;
}

.delivered--mobile {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.delivered--desktop {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}


