.returns__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    &-header {
        font-family: $main-font;
        font-size: 24px;
        font-weight: $font-medium;
        line-height: 32px;
        letter-spacing: 2px;
        text-align: left;
    }

    &-status {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-family: $main-font;
                font-weight: $font-small;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 1px;
                color: #777;
            }
        }
    }

    &-total {
        font-family: $main-font;
        font-size: 16px;
        font-weight: $font-big;
        line-height: 20px;
        letter-spacing: 0.8px;
    }

    &-items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-family: $main-font;
            font-size: 16px;
            font-weight: $font-medium;
            line-height: 20px;
            letter-spacing: 0.8px;
        }
    }

    &-item-card {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #EAEAEA;
    }
}

.returns__details-item-card {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;

    &-image {
        width: 74px;
        height: 106px;
        object-fit: cover;
        border: 1px solid #777;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-header{
        display: flex;
        justify-content: space-between;
    }

    &-name {
        font-size: 16px;
        font-family: $main-font;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-weight: $font-medium;
    }

    &-description {
        font-size: 10px;
        font-family: $main-font;
        line-height: 14px;
        letter-spacing: 0.5px;
        font-weight: $font-small;
    }

    &-color,
    &-size {
        font-size: 12px;
        font-family: $main-font;
        line-height: 12px;
        letter-spacing: 1px;
        font-weight: $font-small;
    }
    &-price{
        font-size: 16px;
        font-family: $main-font;
        line-height: 20px;
        letter-spacing: 0.8px;
        font-weight: $font-medium;
    }
}


.returns__details-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.extra-l {
    width: 100%;
}
