.headermasterleft2 {
    display: flex;
    align-items: center;
    gap: 20px;

    &__menu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    
    &__item {
        position: relative;
        padding: 0 13px;

        &:hover .headermasterleft2__dropdown,
        .headermasterleft2__dropdown:hover {
            display: flex;
        }
    }
    
    &__link {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        color: black;
        text-decoration: none;
        padding: 8px;
        transition: background-color 0.3s ease;
        font-weight: $font-medium;
        font-family: $main-font;
        letter-spacing: 1px;
        
        &:visited {
            color: black;
        }

        &:hover {
            text-decoration: none;
            background-color: white; 
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 13px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Aggiunge box shadow */
        z-index: 1000;
        padding: 10px;
        margin-top: 8px; 
        pointer-events: auto;

        &-content {
            display: flex;
            gap: 10px;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    &__submenu {
        ul {
            list-style: none;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 30px;
                padding-left: 0;

            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    display: block;
                    font-size: 16px;
                    letter-spacing: 0.8px;
                    line-height: 20px;
                    font-weight: $font-small;
                    font-family: $main-font;

                    &:hover {
                        color: $main-brown;
                    }
                }
            }
        }
    }
    &__image {
        width: 144px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &--shop {
            background-image: url('./src/images/hero/shop-home-menu.jpg');
            height: 205px;
        }

        &--heritage {
            background-image: url('./src/images/hero/shop-home-menu2.jpg');
            height: 217px;
        }

        &--collections {
            background-image: url('./src/images/hero/shop-home-menu3.jpg');
            height: 205px;
        }
    }
}
