.login {
    &__title {
        text-transform: uppercase;
        margin: 0 auto;
        text-align: center; /* Center the title horizontally */
        padding: 110px 16px 20px; /* Add some padding for better visual appearance */
    }
}
