/* Main color */
$main-white: #FFFFFF;
$main-black: #000000;
$main-brown: #886E4C;
$main-green: #36783C;
$main-yellow: #F3C34A;
$main-grey: #8E8E93;
$main-trasparent: rgba(255,255,255,0);

/* Neutral color */
$neutral-grey: #777777;
$neutral-grey2:  #EAEAEA;
$neutral-white: #F8F6F7;

/* Transparency color*/
$trasparent1: rgba(131, 111, 82, 0.1 );
$trasparent2: rgba(131, 111, 82, 0.2);

/*Feedback color */
$error-feedbackcolor: #982822;
$success-feedbackcolor: #285834;
