body.home {
  .header {
    background-color: transparent; // Imposta il colore di sfondo dell'header su trasparente
    border-bottom: none; // Rimuove il bordo inferiore

    // Applica gli stili per il logo
    &__logo-img {
      filter: invert(100%); // Rende il logo bianco
    }
    &-link:hover{
      color: $main-black;
    }
    // Applica gli stili per le icone
    &__icon {
      filter: invert(100%);
      transition: filter 0.3s ease;
      &:hover {
        color: $main-brown;
      }
    }

    // Applica gli stili per i link di primo livello
    &__menu--left {
      .header__menu-item {
        .header__menu-link {
          color: white;
          &:hover{
            color: $main-black;
          }
        }
      }
    }

    // Assicurati che i link annidati rimangano neri (o qualunque sia il loro colore normale)
    &__submenu-link {
      color: $main-black; // Specifica un colore per i link annidati
      &:hover{
        color: $main-brown;
      }
    }
  }
}
// You can add styles for the dropdown image and links here
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
$header-icon-size: 20px; // Dimensione standard per le icone
.header__icons-container {
    display: flex;
    align-items: center; // Centra le icone verticalmente
}
.header__icons {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.header__icon-item {
    margin: 0 10px; // Spaziatura tra le icone
    width: $header-icon-size;
    height: $header-icon-size;
    .header__icon-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    .header__icon {
        width: 100%;
        height: 100%;
        background-size: contain; // Contiene completamente l'immagine all'interno dell'icona
        background-repeat: no-repeat;
        background-position: center;
        transition: filter 0.3s ease; // Transizione morbida per il filtro

        &--search {
            background-image: url('./src/images/icons/magnifierb.svg');
        }
        &--messages {
            background-image: url('./src/images/icons/messageb.svg');
        }
        &--favorites {
            background-image: url('./src/images/icons/heartb.svg');
        }
        &--account {
            background-image: url('./src/images/icons/accountb.svg');
        }
        &--cart{
          width: 20px;
          height: 20px;
          img {
            transition: filter 0.3s ease;
            background-size: contain;
            height: 100%;
          }
        }
        // &--cart {
        //     background-image: url('./src/images/icons/shoppingbagb.svg');
        // }
        &--search, &--messages, &--favorites, &--account{
          &:hover {
            filter: brightness(0) saturate(100%) invert(41%) sepia(65%) saturate(650%) hue-rotate(360deg) brightness(91%) contrast(84%);
          }
        }
    }
}
.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}