/* Icona Message con effetto overlay */

.overlay {
    position: fixed;
    top: 0;
    right: -440px;
    width: 440px;
    height: 100vh;
    background-color: $main-white;
    transition: right 0.5s ease;
    z-index: 100;
    overflow-y: auto;
  
    &__content {
      padding: 20px;
      padding-top: 38px;
      position: relative;
    }
  
    &__close-container {
      position: absolute;
      top: 38px;
      right: 25px;
    }
  
    &__close-btn {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      width: 24px;
      height: 16px;
    }
    &__close-icon {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('./src/images/icons/close-icon.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    &__title {
      margin: 0 0 30px;
      font-size: 24px;
      font-family: $main-font;
      font-weight: $font-medium;
      letter-spacing: 1.5px;
    }
  
    &__description {
      margin: 0 0 40px;
      font-weight: $font-medium;
      font-size: 18px;
      color: $main-black;
    }
  }
  
  .contact-info {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 20px;
  }
  
  .contact-info a {
    display: flex;
    align-items: center;
    color: $main-black;
    text-decoration: none;
    font-size: 18px;
    font-family: $main-font;
  }
  
  .icon {
    width: 18px;
    height: 20px;
    margin-right: 4.5px;
    background-size: cover;
    background-position: center;
  }
  
  .phone-icon {
    background-image: url('./src/images/icons/mobile-icon.png');
  }
  
  .email-icon {
    background-image: url('./src/images/icons/email-icon.png');
  }
  
  .address-icon {
    background-image: url('./src/images/icons/position-icon.png');
  }