.cart-overlay {
    position: fixed;
    top: 0;
    right: -100%; // Inizia fuori dalla vista
    width: 400px; // o una larghezza appropriata per il carrello
    height: 100vh;
    background-color: $main-white;
    transition: right 0.5s ease;
    z-index: 1000; // Assicurati che sia sopra ad altri contenuti
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Distribuisce lo spazio
  
    .cart-content {
      flex-grow: 1;
        padding: 20px;
        padding-top: 38px;
        position: relative;
        overflow-y: auto;
    }
  
    .cart-close-area {
      position: absolute;
      top: 38px;
      right: 25px;
    }
  
    .cart-close-btn {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      width: 24px;
      height: 16px;
  
        .cart-close-icon {
          display: block;
          width: 100%;
          height: 100%;
          background-image: url('./src/images/icons/close-icon.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
    }
  
    .cart-title {
      margin: 0 0 30px;
      font-size: 24px;
      font-family: $main-font;
      font-weight: $font-medium;
      letter-spacing: 1.5px;
    }
    .cart-empty-message {
      text-align: center;
      margin-top: auto; 
      padding-top: 60%;
      font-size: 14px;
      font-family: $main-font;
      font-weight: $font-medium;
    }
  }
  .page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-image img {
    width: 50px; // Regola in base alle tue necessità
    height: auto;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-size: 16px;
    margin: 0;
}

.cart-item-price {
    font-size: 14px;
    color: grey;
}


.popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.confirmation-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1500;
  width: calc(100vw - 30px);
  max-width: 500px;
  border-radius: 8px;

  .popup-content {
      padding: 20px;
      text-align: center;
      .popup-close-area {
        position: absolute;
        top: 10px;
        right: 10px;
    }

      .popup-close-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 24px;
        height: 16px;

        .popup-close-icon {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('./src/images/icons/close-icon.svg'); // Usa la tua icona locale
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

      p {
          font-family: $main-font;
          font-size: 16px;
          margin-bottom: 15px;
          color: $neutral-grey;
      }

      .popup-button {
          border: none;
          padding: 6px 24px;
          cursor: pointer;
          font-size: 12px;
          font-weight: $font-medium;
          font-family: $main-font;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          border-radius: 3px;
          &__cancel{
            background-color: #e4e4e4;
            color: black;
            &:hover{
              background-color: #a2a2a2;
            }
          }
          &__ok{
            color: white;
            background-color: green;
          }
      }
  }
}

/* Media query per nascondere il pop-up di conferma e il background */
@media (max-width: 1024px) {
  #confirmationPopup,
  #popupOverlay {
      display: none;
  }
}



.mini-card-container {
  display: none;
  margin-top: 20px;
}

.mini-card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mini-card-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  
}

// .mini-card-footer {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: calc(400px - 16px);
//   background-color: rgba(0, 0, 0, 0.15);
//   padding: 24px 0 24px 16px;
//   gap: 24px;
//   display: flex;
//   flex-direction: column;
//   z-index: 1001;
//   display: none; 
// }

// .subtotal-container {
//   display: flex;
//   justify-content: space-between;
//   width: 90%;
//   align-items: baseline;
//   text-transform: uppercase;
// }
// .checkout-container {
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   width: 95%;
//   margin: 0;
//   gap: 8px;
//   p {
//     font-size: 12px;
//   }
// }
// #subtotal-amount{
//   font-size: 24px;
// }
// .subtotal-checkout{
//   font-size: 12px;
// }

.mini-card-footer {
  position: absolute;
  border-bottom: 1px solid #eee;
  bottom: 0;
  left: 0;
  width: calc(400px - 16px);
  background-color: #F8F6F7;
  padding: 24px 0 24px 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  display: none;

  .subtotal-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: baseline;
    text-transform: uppercase;
  }

  .checkout-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 95%;
    margin: 0;
    gap: 8px;

    p {
      font-size: 12px;
    }
  }

  #subtotal-amount {
    font-size: 24px;
  }

  .subtotal-checkout {
    font-size: 12px;
  }
}
